<component name="ArtifactManager">
  <artifact type="war" name="springmvcmaven:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="spring-mvc-maven.war">
      <element id="artifact" artifact-name="springmvcmaven:war exploded" />
    </root>
  </artifact>
</component>